<html>
  <head>
  </head>
  <body>
  <label for="t">Test Field:</label>
  <input type="text" id="t" name="t" placeholder="Test Field:"></input>
  <input type="text" placeholder="Test Field: Placeholder"></input>

<table ng-class="options.tableClass" ng-show="options.items.length" class="table-lined">
  <thead>
    <tr>
      <!-- ngRepeat: column in options.columns --><th ng-repeat="column in options.columns" ng-class="getColumnClass(column)" scope="col" class="ng-scope ng-binding">Title
        <!-- ngIf: hasSorting(column) --><a href="javascript:void(0);" ng-if="hasSorting(column)" ng-click="setSortColumn(column)" class="ng-scope">
          <i ng-class="getSortingClass(column)" class="icon-sort"></i>
        </a><!-- end ngIf: hasSorting(column) -->
      </th><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><th ng-if="options.actions" class="actions medium ng-scope" scope="col"></th><!-- end ngIf: options.actions -->
    </tr>
  </thead>
  <tbody>
    <!-- ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">123User</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/13"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/13"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">abcdre</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/14"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/14"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Allegiant Air</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/1"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/1"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Boeing</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/2"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/2"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">FAA</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/4"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/4"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Honeywell</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/7"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/7">View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Maintenance</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/16"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/16"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Manager</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/18"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/18"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Manager</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/15"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/15"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items --><tr ng-repeat="item in options.items" class="ng-scope">
      <!-- ngRepeat: column in options.columns --><td ng-repeat="column in options.columns" ng-class="column.cellClass" class="ng-scope ng-binding">Manager</td><!-- end ngRepeat: column in options.columns -->
      <!-- ngIf: options.actions --><td ng-if="options.actions" class="actions ng-scope">
        <div class="clearfix">
          <!-- ngIf: hasAction('delete') --><a class="pull-right margin-left text-muted text-delete ng-scope" ng-if="hasAction('delete')" ng-click="options.actions.deleteAction(item)"><i class="fa g4-icon-trash"></i> Delete</a><!-- end ngIf: hasAction('delete') -->
          <!-- ngIf: hasLink('delete') -->
          <!-- ngIf: hasState('delete') -->
          <!-- ngIf: hasAction('edit') -->
          <!-- ngIf: hasLink('edit') -->
          <!-- ngIf: hasState('edit') --><a class="pull-right primary margin-left ng-scope" ng-if="hasState('edit')" ui-sref="update({sourceDocumentIssuerId: item.id })" href="#/edit/17"><i class="fa g4-icon-edit"></i> Edit</a><!-- end ngIf: hasState('edit') -->
          <!-- ngIf: hasAction('view') -->
          <!-- ngIf: hasLink('view') -->
          <!-- ngIf: hasState('view') --><a class="pull-right margin-left text-muted text-view ng-scope" ng-if="hasState('view')" ui-sref="read({sourceDocumentIssuerId: item.id })" href="#/view/17"><i class="fa g4-icon-view"></i> View</a><!-- end ngIf: hasState('view') -->
        </div>
      </td><!-- end ngIf: options.actions -->
    </tr><!-- end ngRepeat: item in options.items -->
  </tbody>
</table>

  <script src="javascripts/mockJS.js"></script>
  </body>
</html>